<form action="users/login_check" method="post">
    <input type="hidden" name="authenticity_token" value=<%=form_authenticity_token%>>
    <label>Email : </label><input type="email" name="user[email]" placeholder="Please enter your mail id : ">
    <label>Password : </label><input type="password" name="user[password]" placeholder="Please enter your password : ">
    <input type="submit" value="Submit">
</form>