/* .TodoPage-title {
  font-size: 20px;
  line-height: 1.6;
  color: #453C52;
  font-weight: 600;
  margin-bottom: 12px;
}

.AddTodo {
  display: flex;
  height: 32px;
  align-items: stretch;
  margin-bottom: 24px;
}

.TodoSection {
  margin-bottom: 20px;
}

.AddTodo-date {
  padding: 6px;
  font-size: 14px;
  color: #453C52;
  margin-right: 10px;
  border-radius: 4px;
  border: 1px solid #BFB8CC
}

.AddTodo-button {
  font-size: 14px;
  background-color: #48BB78;
  color: white;
  border: 1px solid transparent;
  padding: 6px 22px;
  border-radius: 4px;
}

.AddTodo-text {
  padding: 6px 12px;
  font-size: 14px;
  color: #453C52;
  margin-right: 10px;
  border-radius: 4px;
  border: 1px solid #BFB8CC
}

.TodoSectionTitle {
  display: flex;
  color: #453C52;
  margin-bottom: 8px;
  align-items: center;
}

.TodoSectionTitle-text {
  font-size: 14px;
  font-weight: 600;
  margin-right: 8px;
  line-height: 1.4;
}

.TodoSectionTitle-remainingCount {
  font-size: 12px;
}

.TodoItem-container {
  display: flex;
  padding: 2px 8px;
  align-items: center;
}

.TodoItem-checkbox {
  width: 16px;
  height: 16px;
  margin-right: 6px;
}

.TodoItem-delete {
  visibility: hidden;
  margin: 8px;
}

.TodoItem-delete>input {
  width: 16px;
}

body {
  font-family: sans-serif;
  max-width: 460px;
  margin: 0 auto;
  margin-top: 60px;
}

.TodoItem-container:hover .TodoItem-delete {
  visibility: visible;
}

.TodoItem-container:hover {
  background-color: #F1EDF7;
}

.TodoItem-date {
  margin-left: 10px;
  color: #453C52;
  font-size: 12px;
  display: inline;
}

.TodoItem-dueDate {
  font-size: 10px;
  color: #453C52;
  margin-left: 10px;
}

.TextItem-LineThrough {
  text-decoration: line-through;
} */
